# Build
bin/
obj/

# Node
node_modules/

# CSS generado por Tailwind
wwwroot/css/

# Configuración local
appsettings.Development.json
*.user

# Rider / JetBrains
.idea/
*.sln.iml

# Visual Studio
.vs/
*.suo

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db