@import "tailwindcss";
@source "../wwwroot/js/**/*.js";

@theme {
    --font-display: "Jersey 10", sans-serif;
    --font-mono: "Space Grotesk", sans-serif;
    
    --color-cornsilk: #FDF8E2;
    --color-vanilla: #FFF3C2;
    --color-periwinkle: #8F81DA;
    --color-grape: #454365;

    /*CODE COLORS*/
    --color-lavander: #c8beff;
    --color-coral: #ff9f89;
    --color-lime: #e6ff89;
    
    --pixel-border: 4px;
}

:root {
    --cornsilk: #FDF8E2;
    --vanilla: #FFF3C2;
    --periwinkle: #8F81DA;
    --grape: #454365;

    --pixel-border: 4px;
    --pixel-border-sm: 3px;

}

.pixel-border {
    box-shadow:
            0 calc(var(--pixel-border) * -1) 0 0 var(--grape),
            0 var(--pixel-border) 0 0 var(--grape),
            calc(var(--pixel-border) * -1) 0 0 0 var(--grape),
            var(--pixel-border) 0 0 0 var(--grape);
    margin: var(--pixel-border);
}
.pixel-border-sm {
    box-shadow:
            0 calc(var(--pixel-border-sm) * -1) 0 0 var(--grape),
            0 var(--pixel-border-sm) 0 0 var(--grape),
            calc(var(--pixel-border-sm) * -1) 0 0 0 var(--grape),
            var(--pixel-border-sm) 0 0 0 var(--grape);
    margin: var(--pixel-border-sm);
}
