@import "tailwindcss";
@source "../wwwroot/js/**/*.js";

@font-face {
    font-family: 'Jersey 10';
    src: url('../fonts/Jersey10-Regular.woff2') format('woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'Jersey 10';
    src: url('../fonts/Jersey10-Regular.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('../fonts/SpaceGrotesk-VariableFont_wght.woff2') format('truetype');
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-VariableFont_wght.woff2') format('truetype');
    font-weight: 100 900;
    font-display: swap;
}

@theme {
    --font-display: "Jersey 10", sans-serif;
    --font-mono: "Space Grotesk", sans-serif;
    --font-code: "JetBrains Mono", monospace;
    
    --color-cornsilk: #FDF8E2;
    --color-vanilla: #FFF3C2;
    --color-periwinkle: #8F81DA;
    --color-grape: #454365;

    /*CODE COLORS*/
    --color-lavander: #c8beff;
    --color-coral: #ff93a7;
    --color-lime: #c6ff89;
    
    --pixel-border: 4px;
}

:root {
    --cornsilk: #FDF8E2;
    --vanilla: #FFF3C2;
    --periwinkle: #8F81DA;
    --grape: #454365;

    --pixel-border: 4px;
    --pixel-border-sm: 3px;

}

.pixel-border {
    box-shadow:
            0 calc(var(--pixel-border) * -1) 0 0 var(--grape),
            0 var(--pixel-border) 0 0 var(--grape),
            calc(var(--pixel-border) * -1) 0 0 0 var(--grape),
            var(--pixel-border) 0 0 0 var(--grape);
    margin: var(--pixel-border);
}
.pixel-border-sm {
    box-shadow:
            0 calc(var(--pixel-border-sm) * -1) 0 0 var(--grape),
            0 var(--pixel-border-sm) 0 0 var(--grape),
            calc(var(--pixel-border-sm) * -1) 0 0 0 var(--grape),
            var(--pixel-border-sm) 0 0 0 var(--grape);
    margin: var(--pixel-border-sm);
}

.decorative-bg {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.0' viewBox='0 0 512 512'%3E%3Cg fill='%238080BF' stroke-width='0'%3E%3Cpath d='M208 152v8h16v32h-16v16h16v-16h32v32h-48v48h48v32h-16v16h-32v32h32v-32h16v-16h32v-32h-32v-48h32v-32h16v-16h-16v16h-32v-32h-32v-16h-16zm64 0v8h16v-16h-16z'/%3E%3Cpath d='M208 296v8h16v-16h-16zm64 48v8h-16v16h16v-16h16v-16h-16z'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1800px auto;
    background-position-x: -790px; /* Empieza en 0 y ve ajustando */
    opacity: 0.4;
    z-index: -1;
}